In [2]:
import pandas as pd
import numpy as np

In [3]:
file1 = pd.read_csv(r"\Users\CLAUDIA\Ironhack\Week1\lab-customer-analysis-round-1-master\files_for_lab\csv_files\file1.csv")

In [4]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
file2 = pd.read_csv(r"\Users\CLAUDIA\Ironhack\Week1\lab-customer-analysis-round-1-master\files_for_lab\csv_files\file2.csv")

In [6]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [7]:
file3 = pd.read_csv(r"\Users\CLAUDIA\Ironhack\Week1\lab-customer-analysis-round-1-master\files_for_lab\csv_files\file3.csv")

In [8]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [9]:
file1.shape

(4008, 11)

In [10]:
file2.shape

(996, 11)

In [11]:
file3.shape

(7070, 11)

In [12]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [13]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [14]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [15]:
file2=file2[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class','Total Claim Amount']]

In [16]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [17]:
file3=file3[['Customer', 'State', 'Gender','Education','Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [18]:
file3.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [19]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [20]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [21]:
file3.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [22]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [23]:
file1=file1.rename(columns={'ST':'State', 'GENDER':'Gender'})

In [24]:
file1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [25]:
file2=file2.rename(columns={'ST':'State', 'GENDER':'Gender'})

In [26]:
file2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [27]:
column_names = file1.columns

In [28]:
df= pd.DataFrame(columns=column_names)

In [29]:
df.head()

Empty DataFrame
Columns: [Customer, State, Gender, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

In [30]:
df=pd.concat([df,file1,file2,file3], axis=0)

In [31]:
df.shape

(12074, 11)

In [32]:
df.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [33]:
df.tail()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
7065,LA72316,California,M,Bachelor,23406,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.51,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.89,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.44,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.84,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [34]:
df.reset_index(drop=True,inplace=True)

In [35]:
df.tail()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
12069,LA72316,California,M,Bachelor,23406,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.51,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.89,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.44,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.84,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [36]:
df.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [37]:
df=df.drop(["Education","Number of Open Complaints"],axis=1)

In [38]:
df.head()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [39]:
df.shape

(12074, 9)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Gender                   9015 non-null   object
 3   Customer Lifetime Value  9130 non-null   object
 4   Income                   9137 non-null   float64
 5   Monthly Premium Auto     9137 non-null   float64
 6   Policy Type              9137 non-null   object
 7   Vehicle Class            9137 non-null   object
 8   Total Claim Amount       9137 non-null   float64
dtypes: float64(3), object(6)
memory usage: 849.1+ KB

In [41]:
#Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [42]:
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace(r'%', r'').astype('float')/100

In [43]:
df.head()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.5359,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,12887.4317,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7645.8618,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5363.0765,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [44]:
df['Customer Lifetime Value'] = 100 * df['Customer Lifetime Value']

In [45]:
df.head()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Gender                   9015 non-null   object
 3   Customer Lifetime Value  2060 non-null   float64
 4   Income                   9137 non-null   float64
 5   Monthly Premium Auto     9137 non-null   float64
 6   Policy Type              9137 non-null   object
 7   Vehicle Class            9137 non-null   object
 8   Total Claim Amount       9137 non-null   float64
dtypes: float64(4), object(5)
memory usage: 849.1+ KB

In [47]:
df.drop_duplicates(inplace=True)

In [48]:
df.shape

(9131, 9)

In [49]:
df[(df["Income"]==0)]

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,721610.03,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,473899.20,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
12063,WZ45103,California,F,NaN,0.0,76.0,Personal Auto,Four-Door Car,364.800000
12065,RX91025,California,M,NaN,0.0,185.0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,NaN,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
12071,TD14365,California,M,NaN,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12073,Y167826,California,M,NaN,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [50]:
round(df.isna().sum/len(df),4)*100

TypeError: unsupported operand type(s) for /: 'method' and 'int'